
*{
    color:#4489F2 ;
}


.conteudoCadastro{
    width: 100%;
    height: calc(100vh-);
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.cadastro1{
   font-family: poppins!important;
   box-shadow: -3px -4px 5px rgb(182, 180, 180);
   font-family: poppins!;
   border:solid 2px;
   border-color: #4489F2;
   border-radius: 15px;
   margin-bottom: 5%;
   padding-left: 1.5%;
   padding-right: 2%;
   padding-bottom: 4%;
   padding-top: 2%;
}

form h3{
    font-size: 30px;
    padding: 1% 0 5% 0;
    text-align: center;

}

form input{
    padding:4px 0 4px 0;
    font-size: 14px;
    margin-top: 5px;
    border:solid 1px;
    border-radius: 8px;
    border-color: #4489F2!important;
}

form label{
    padding-top: 2%;
    font-size: 16px;
    margin-left: 0;
    float: left;
}

form .col-md-12{
    display: flex !important;
    flex-direction: column!important;

}

form button{
    padding: 10px 55px 10px 55px;
    border: none;
    border-color: #4489F2;
    color: white;
    background-color: #4489F2;
    border-radius: 5px;
    margin: 0 0 0 35%;
    margin-top: 4%;
    display: flex;
    align-items: center;  
  }

form p{
    padding-top: 5%;
    font-size: 12px;
    margin-left: 13%;
    align-items: center;
    display: flex;
    float: center!important; 
    text-align: center;
}
form a{
    font-weight: bold;

}


.radio{
    margin-left: 0.5%;
    padding-left: 0;
    padding-bottom:2% ;  
    align-items:left!important;
    display:flex;
    flex-direction: column;
  
}

.selectName{
    border-color: #4489F2;
    color: #000;
    border-radius: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center!important;  
}
#empregado{
    display: flex;
    flex-direction: column;
}
