.principal2 {
  height: 320px;
  background-color: #c4c4c4 !important;
}

#foto2 {
  border-radius: 5px;
  background-color: darkgray;
  z-index: 9;
  float: right;
  margin: 115px 15px 0 0;
  width: 30px;
}

.conteudo3 img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
  border-radius: 70px;
  width: 140px;
  height: 140px;
  bottom: 0;
}
.conteudo3 h3 {
  padding: 5px 0 0 0;
  margin-left: -18px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.conteudo3 {
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  height: calc(100vh - 320px);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.allBox {
  flex-direction: column;
  padding: 0;
  margin: 4% 12% 0 0;
  display: flex;
  justify-content: left;
  margin-right: 20px;
}
.allBox h4 {
  text-align: center;
}
.allBox1 {
  flex-direction: column;
  padding: 0;
  margin: 4% 12% 0 0;
  display: flex;
  justify-content: left;
  margin-left: 20px;
}
.allBox1 h4 {
  text-align: center;
}
.allBox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 4% 2% 0 3%;
  margin-right: 10px;
}
.mostradorBlue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #4f74ac;
  width: 174px;
  height: 129px;
  margin-right: 30px;
  margin-bottom: 15px;
}
.mostradorBlue h3 {
  color: #fff;
}
.mostradorBlue h4 {
  color: #fff;
}
.mostrador2 {
  border-radius: 10px;
  border: solid 1px;
  border-color: rgb(143, 142, 142);
  width: 300px;
  height: 102px;
}
.cadVaga2 button {
  z-index: 9;
  margin: 10% 0 0 -90px;
  border-radius: 10px;
  padding: 12px 40px 12px 40px;
  border: none;
  color: #fff;
  background-color: #4d83d3;
}
#maleta2 {
  width: 30px;
  height: 30px;
}
#mao2 {
  width: 30px;
  height: 30px;
}

@media (min-width: 1600px) {
}
