.container{
  width: 100%;
  height: calc(100vh - 105px);
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login1{
  display: flex !important;
  flex-direction: column!important;
  width: 480px;
  font-family: poppins;
   box-shadow: -3px -4px 5px rgb(182, 180, 180);
   font-family: poppins!;
   border:solid 2px;
   border-color: #4489F2;
   border-radius: 15px;
   padding-left: 1.5%;
   padding-right: 2%;
   padding-bottom: 4%;
   padding-top: 2%;
}

.login1 button{
    margin: 0 30% 0 30%;
    border: none;
    border-color: #4489F2;
    color: white;
    background-color: #4489F2;
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center!important;  
    justify-content:center;
  }
  .esqSenha{
      margin: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .conteudo1{
    width: 480px;
    height: 450px;
  }
  .conteudo2{
    width: 480px;
    height: 480px;
  }