.login1{
  background-color: #FAFAFA;
  display: flex !important;
  flex-direction: column!important;
  font-family: poppins!important;
   margin:0 30% 0 30%;
   box-shadow: -3px -4px 5px rgb(182, 180, 180);
   font-family: poppins!;
   border:solid 2px;
   border-color: #4489F2;
   border-radius: 15px;
   margin-top: 10%;
   margin-bottom: 4%;
   padding-left: 1.5%;
   padding-right: 2%;
   padding-bottom: 4%;
   padding-top: 2%;
}

.login1 button{
    margin: 0 30% 0 30%;
    border: none;
    border-color: #4489F2;
    color: white;
    background-color: #4489F2;
    border-radius: 5px;
    margin-top: 5%;
    display: flex;
    align-items: center!important;  
    justify-content:center;
  }
  .esqSenha{
      margin: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
  }