
.menu{
    position: fixed; 
    right: 0;
    top:0;
    background-color: #FAFAFA;
    height: 105px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px; 
  }
.logo{
    width: 192px;
    height: 40px;
}
nav{
  display: flex;
  flex-direction: row;
  padding-right: 2%;
}
nav button{
background-color:#4489F2;
 border:none;
 border-radius: 5px;
 padding:9px 7px 9px 7px;
 margin-left: 10%;
}
nav p{
  color: #fff;
}
