.q1-footer{
    margin-top: 10%;
}
.location img{
 margin-top: 1%;
 margin-left: 2%;
 padding-right: 1%;
 width: 30;
 height: 20px;
}

.phone img{
    margin-top: 1%;
    margin-left: 2%;
    padding-right: 1%;
    width: 30;
    height: 20px;
   }

   .mail img{
    margin-top: 1%;
    margin-left: 2%;
    padding-right: 1%;
    width: 30;
    height: 20px;
   }

.hr{
    margin: 3% 10% 2% 10%;
}

.privacity{
    padding-top: 1%;
    margin-top: 3%;
    text-align: center;
}

.copyright{
    margin-top: 2%;
    justify-content: center;
    display: flex;
    align-items: center;
}
